<main class='container'>

  <section class='row'>
    <% @users.each do |user| %>
      <div class="col-md-6 players-wrapper">
        <div class="players">
          <h3><%= user.name %></h3>
          <p><%= image_tag user.user_avatar.thumb.url, class: 'avatar' %></p>
          <p> Wins: <%= user.wins %></p>
          <p> Losses: <%= user.loses %></p>
          <%# game = {player2_id: user.id} %>
          <%= link_to 'Challenge', {controller: 'games', action: 'create', game: {player2_id: user.id}}, method: :post %>
          <!-- want this to post to games/new with player2 details -->
        </div>
      </div>
    <% end %>
  </section>

</main>

