<section class='row'>
  <h1><%= @user.name %></h1>
    <div class="col-md-12 players-wrapper">
      <div class="player-box">
        <p><%= image_tag @user.user_avatar.thumb.url, class: 'avatar' %></p>
        <p> Wins:  <span class="number"><%= @user.wins %></span></p>
        <p> Draws:  <span class="number"><%= @user.draws %></span></p>
        <p> Losses:  <span class="number"><%= @user.loses %></span></p>
        <p> Points:  <span class="number"><%= @user.points %></span></p>
        <div class="edit">
        <% if can? :create, Game %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => "edit-button"  %>
        <% end %>
        </div>
      </div>
    </div>
</section>