<section class='row'>
  <div class="col-md-12">
    <% if @game.is_draw %>
     <h2 class="finish-message"><%= 'The game is a draw!' %></h3>
    <% else %>
     <h2 class="finish-message"><%= "#{@winner.name} wins!!!" %></h3>
    <% end %>
  </div>
</section>

<section class='row'>
  <div class="col-md-4 sidebar">
  <%= image_tag @player_1.user_avatar.thumb.url, class: 'avatar' %>
    <h4 class="symbol">Symbol: <%= @game.player1_symbol %></h4>
    <h4>Wins: <span class="number"><%= @player_1.wins %></span></h4>
    <h4>Draws: <span class="number"><%= @player_1.draws %></span></h4>
    <h4>Losses: <span class="number"><%= @player_1.loses %></span></h4>
  </div>

  <div class="col-md-4">  
    <table>
      <tr>
        <td><div class='board'>
          <% if @game.board[0] %>
          <%= image_tag("#{@game.board[0]}.png", class: 'move') %>
          <% end %>
        </div></td>
        <td><div class='board'>
          <% if @game.board[1] %>
          <%= image_tag("#{@game.board[1]}.png", class: 'move') %>
          <% end %>
        </div></td>
        <td><div class='board'>
          <% if @game.board[2] %>
          <%= image_tag("#{@game.board[2]}.png", class: 'move') %>
          <% end %>
        </div></td>
      </tr>
      <tr>
        <td><div class='board'>
          <% if @game.board[3] %>
          <%= image_tag("#{@game.board[3]}.png", class: 'move') %>
          <% end %>
        </div></td>
        <td><div class='board'>
          <% if @game.board[4] %>
          <%= image_tag("#{@game.board[4]}.png", class: 'move') %>
          <% end %>
        </div></td>
        <td><div class='board'>
          <% if @game.board[5] %>
          <%= image_tag("#{@game.board[5]}.png", class: 'move') %>
          <% end %></div></td>
        </tr>
        <tr>
          <td><div class='board'>
            <% if @game.board[6] %>
            <%= image_tag("#{@game.board[6]}.png", class: 'move') %>
            <% end %>
          </div></td>
          <td><div class='board'>
            <% if @game.board[7] %>
            <%= image_tag("#{@game.board[7]}.png", class: 'move') %>
            <% end %>
          </div></td>
          <td><div class='board'>
            <% if @game.board[8] %>
            <%= image_tag("#{@game.board[8]}.png", class: 'move') %>
            <% end %>
          </div></td>
        </tr>
      </table>
    </div>

      <div class="col-md-4 sidebar">
      <%= image_tag @player_2.user_avatar.thumb.url, class: 'avatar' %>
        <h4 class="symbol">Symbol: <%= @game.player2_symbol %></h4>
        <h4>Wins: <span class="number"><%= @player_2.wins %></span></h4>
        <h4>Draws: <span class="number"><%= @player_2.draws %></span></h4>
        <h4>Losses: <span class="number"><%= @player_2.loses %></span></h4>
      </div>
    </section>



<!--   <h1><%#= "#{@player_1.name} vs. #{@player_2.name} " %></h1>

  <h2>
     <%# if @game.is_draw %>
     <%#= 'The game is a draw!' %>
     <%# else %>
     <%#= "#{@winner.name} wins!!!" %>
     <%# end %>
   </h2> -->

  