
<section class='row'>
  <div class="col-md-4">
  <%= image_tag @player_1.user_avatar.thumb.url, class: 'avatar' %>
    <p>Symbol: <%= @game.player1_symbol %></p>
    <p>Wins: <%= @player_1.wins %></p>
    <p>Losses: <%= @player_1.loses %></p>
  </div>
  <div class="col-md-4">
  <table>
    <tr>
      <td><div class='board'>
        <% if @game.board[0] %>
        <%= image_tag("#{@game.board[0]}-white.png", class: 'move') %>
        <% else %>
        <%= link_to image_tag("#{@symbol}-red.png"), {controller: 'games', action: 'update', square: 0}, method: :put %>
        <% end %>
      </div></td>
      <td><div class='board'>
        <% if @game.board[1] %>
        <%= image_tag("#{@game.board[1]}-white.png", class: 'move') %>
        <% else %>
        <%= @game.board[1] || (link_to image_tag("#{@symbol}-red.png"), {controller: 'games', action: 'update', square: 1}, method: :put) %>
        <% end %>
        </div></td>
        <td><div class='board'>
          <% if @game.board[2] %>
          <%= image_tag("#{@game.board[2]}-white.png", class: 'move') %>
          <% else %>
          <%= @game.board[2] || (link_to image_tag("#{@symbol}-red.png"), {controller: 'games', action: 'update', square: 2}, method: :put) %>
          <% end %>
        </div></td>
      </tr>
      <tr>
        <td><div class='board'>
          <% if @game.board[3] %>
          <%= image_tag("#{@game.board[3]}-white.png", class: 'move') %>
          <% else %>
          <%= @game.board[3] || (link_to image_tag("#{@symbol}-red.png"), {controller: 'games', action: 'update', square: 3}, method: :put) %>
          <% end %>
        </div></td>
        <td><div class='board'>
          <% if @game.board[4] %>
          <%= image_tag("#{@game.board[4]}-white.png", class: 'move') %>
          <% else %>
          <%= @game.board[4] || (link_to image_tag("#{@symbol}-red.png"), {controller: 'games', action: 'update', square: 4}, method: :put) %>
          <% end %>
        </div></td>
        <td><div class='board'>
          <% if @game.board[5] %>
          <%= image_tag("#{@game.board[5]}-white.png", class: 'move') %>
          <% else %>
          <%= @game.board[5] || (link_to image_tag("#{@symbol}-red.png"), {controller: 'games', action: 'update', square: 5}, method: :put) %>
          <% end %></div></td>
        </tr>
        <tr>
          <td><div class='board'>
            <% if @game.board[6] %>
            <%= image_tag("#{@game.board[6]}-white.png", class: 'move') %>
            <% else %>
            <%= @game.board[6] || (link_to image_tag("#{@symbol}-red.png"), {controller: 'games', action: 'update', square: 6}, method: :put) %>
            <% end %>
          </div></td>
          <td><div class='board'>
            <% if @game.board[7] %>
            <%= image_tag("#{@game.board[7]}-white.png", class: 'move') %>
            <% else %>
            <%= @game.board[7] || (link_to image_tag("#{@symbol}-red.png"), {controller: 'games', action: 'update', square: 7}, method: :put) %>
            <% end %>
          </div></td>
          <td><div class='board'>
            <% if @game.board[8] %>
            <%= image_tag("#{@game.board[8]}-white.png", class: 'move') %>
            <% else %>
            <%= @game.board[8] || (link_to image_tag("#{@symbol}-red.png"), {controller: 'games', action: 'update', square: 8}, method: :put) %>
            <% end %>
          </div></td>
        </tr>
      </table>
      </div>
      <div class="col-md-4">
      <%= image_tag @player_2.user_avatar.thumb.url, class: 'avatar' %>
        <p>Symbol: <%= @game.player2_symbol %></p>
        <p>Wins: <%= @player_2.wins %></p>
        <p>Losses: <%= @player_2.loses %></p>
      </div>
    </section>