  <section class='row'>
    <div class="col-md-12">
      <div class="new-game">
      <% if can? :create, Game %>
        <%= link_to 'Start new game', new_game_path, class: 'btn btn-default btn-lg' %>
      <% end %>
      </div>
    </div>
  </section>

  <% if current_user %>

  <section class='row'>
    <div class="col-md-10 col-md-offset-1">
      <h1> GAMES IN PROGRESS </h1>
      <div class='games'>
        <% current_user.games.order('updated_at ASC').where(winner_id: nil).where(is_draw: nil).each do |game| %>
          <p><%= link_to "#{User.find(game.player1_id).name} vs #{User.find(game.player2_id).name}", game %> last move: <%= "#{game.updated_at}" %></p>
        <% end %>
      </div>
    </div>
  </section>

  <section class='row'>
    <div class="col-md-10 col-md-offset-1">
      <h1> FINISHED GAMES</h1>
      <div class='games'>
        <% current_user.games.order('updated_at ASC').where("winner_id IS NOT NULL or is_draw IS TRUE").each do |game| %>
          <p><%= link_to "#{User.find(game.player1_id).name} vs #{User.find(game.player2_id).name}", game %> finshed: <%= "#{game.updated_at}" %></p>
        <% end %>
      </div>
    </div>
  </section>

  <% end %>

