

  <section class='row'>
    <div class="col-md-5">
      <h1><%= "#{@player_1.name}" %></h1>
    </div>

    <div class="col-md-2">
      <h1>vs.</h1>
    </div>
    
    <div class="col-md-5">
      <h1><%= "#{@player_2.name}" %></h1>
    </div>
  </section>

    <% if @game.finished?%>
      <%= render 'games/finished', game: @game, player_1: @player_1, player_2: @player_2, symbol: @symbol, winner: @winner %>
    <% elsif ( current_user.id == Game.find(params[:id]).whose_turn) || (Game.find(params[:id]).users.pluck(:id).include? 1) %>
      <%= render 'games/in_progress', game: @game, player_1: @player_1, player_2: @player_2, symbol: @symbol %>
    <% else %>
      <%= render 'games/opponent_turn', game: @game, player_1: @player_1, player_2: @player_2, symbol: @symbol %>
    <% end %>

    <%# if @game.is_draw %>
    <%#= 'The game is a draw!' %>
    <%# else %>
    <%#= "The winner is #{User.find(@game.winner_id).name}" %>
    <%# end %>
    <%# end %>



  </p>
  



