<main class='container'>
  
  <section class='row'>
    <h1><%= "#{@player_1.name} vs. #{@player_2.name} " %></h1>
  </section>

  <section class='row'>
    <table>
      <tr>
        <td><div class='board'><%= link_to image_tag("#{@symbol}.png"), @game %></div></td>
        <td><div class='board'><%= link_to image_tag("#{@symbol}.png"), @game %></div></td>
        <td><div class='board'><%= link_to image_tag("#{@symbol}.png"), @game %></div></td>
      </tr>
      <tr>
        <td><div class='board'><%= link_to image_tag("#{@symbol}.png"), @game %></div></td>
        <td><div class='board'><%= link_to image_tag("#{@symbol}.png"), @game %></div></td>
        <td><div class='board'><%= link_to image_tag("#{@symbol}.png"), @game %></div></td>
      </tr>
      <tr>
        <td><div class='board'><%= link_to image_tag("#{@symbol}.png"), @game %></div></td>
        <td><div class='board'><%= link_to image_tag("#{@symbol}.png"), @game %></div></td>
        <td><div class='board'><%= link_to image_tag("#{@symbol}.png"), @game %></div></td>
      </tr>
    </table>
  </section>
</main>

<!-- link_to game_path(@game, play: 'tl'), :method => :put do
          - image_tag Game.image(@game.tl) -->